# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
ENV/
env/

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Git LFS models are tracked in .gitattributes

# Keep models directory structure
!backend/models/.gitkeep
BrainTumorAnalysis/
BrainTumorAnalysis/
BrainTumorAnalysis.zip
